.field {
  margin-inline: 0;
  padding-inline: 104px;
  padding-block: 14px var(--indent-6);
  border: 1px solid #cbced9;
  border-radius: 10px;
  font-size: 20px;
  line-height: 22px;

  @media(max-width: 376px) {
    padding-inline: 70px;
  }
}

.fieldTitle {
  color: var(--color-base-500);
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9%;
}

.field[data-invalid='true'] {
  border-color: red;
}
