.field {
  margin-inline: 0;
  padding: 0;
  border: 1px solid #cbced9;
  border-radius: 10px;
  font-size: 20px;
  line-height: 22px;
}

.fieldTitle {
  color: var(--color-base-500);
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9%;
}

.transportList {
  display: flex;
  margin-block: 0;
  padding-inline: 104px;
  padding-block: 14px var(--indent-6);
  list-style-type: none;
}

.transportButton {
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-neutral-300);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-neutral-400);
  }

  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--color-neutral-100);
    color: var(--color-base-500);
    opacity: var(--opacity-disabled);
  }

  &[aria-pressed='true'] {
    color: var(--color-base-500);

    &:hover {
      opacity: 0.7;
    }

    &:active,
    &:focus,
    &:focus-visible {
      opacity: var(--opacity-base);
    }
  }
}

.field[data-invalid="true"] {
  border-color: red;
}
