.main {
  position: relative;
  inline-size: min(1440px, 100%);
  margin-inline: auto;
  margin-block-end: -60px;
  padding-block-end: 137px;
  background-color: var(--color-neutral-50);
}

.title {
  position: relative;
  padding-inline: 64px;
  margin-block: 0;
  padding-block: 124px 64px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: var(--color-base-400);
  color: var(--color-white);
  font-size: 60px;
  font-weight: 700;
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: start;

  @media(max-width: 1025px) {
    font-size: 48px;
  }

  @media(max-width: 769px) {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media(max-width: 321px) {
    padding-inline: var(--indent-6);
    padding-block: 60px var(--indent-3);
    font-size: var(--font-size-xxl);
  }
}

.skeleton {
  padding: 48px;
  text-align: center;
  color: #999;
}

.empty {
  padding: 48px;
  text-align: center;
  color: #999;
  font-size: 18px;
}

.catalog {
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  row-gap: 30px;
  column-gap: 62px;
  padding-block-start: 60px;
  font-size: 20px;
}

.moreButton {
  max-inline-size: 300px;
  margin-inline: auto;
  margin-block: 38px 45px;
  grid-column: 1/-1;
  gap: 24px;
  border: none;
  font-size: 24px;
  text-transform: uppercase;
}

.pagination {
  grid-column: 1/-1;
  justify-content: space-between;
}
