.countries {
  position: relative;
  padding-block-start: 60px;
  padding-block-end: 74px;
  font-size: var(--font-size-sm);

  @media(max-width: 769px) {
    padding-block-start: 90px;
    padding-block-end: 60px;
    background-color: var(--color-neutral-100);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media(max-width: 376px) {
    padding-block: 60px 30px;
  }
}

.filters {
  display: grid;
  grid-template-columns: max-content auto max-content;
  column-gap: var(--indent-8);
  padding-inline: var(--indent-5);
  text-transform: uppercase;

  @media(max-width: 769px) {
    grid-template-columns: min-content max-content;
    justify-content: space-between;
    padding-inline: 0;
  }

  @media(max-width: 376px) {
    grid-template-columns: 1fr;
    row-gap: var(--indent-3);
    font-size: 16px;
    line-height: 18px;
    text-align: start;
  }
}

.filter {
  gap: var(--indent-6);
  padding: 0;
  font-size: var(--font-size-sm);
  text-transform: uppercase;

  @media(max-width: 769px) {
    display: none;
  }

  @media(max-width: 376px) {
    display: inline-flex;
    justify-content: start;
    gap: var(--indent-3);
    font-size: 16px;
    line-height: 18px;
  }
}

.continents {
  display: flex;
  align-items: center;
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
  column-gap: var(--indent-5);

  @media(max-width: 376px) {
    flex-direction: column;
    align-items: start;
    row-gap: var(--indent-2);
    padding-inline: var(--indent-4);
  }
}

.continent {
  padding: 0;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  opacity: 0.3;

  @media(max-width: 376px) {
    font-size: 16px;
    line-height: 18px;
  }

  &:active,
  &[data-selected='true'] {
    opacity: 1;
  }

  &:focus-visible {
    outline: transparent;
  }
}

.showAll {
  padding: 0;
  font-size: var(--font-size-sm);
  text-transform: uppercase;

  @media(max-width: 376px) {
    padding-inline: var(--indent-4);
    text-align: start;
    font-size: 16px;
    line-height: 18px;
  }
}

.countriesDropdown {
  margin-block: 74px 50px;
  transition: opacity 0.2s ease;

  @media(max-width: 769px) {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: calc(100% - 30px);
    margin-block: 0;
    padding-inline: var(--indent-8);
    padding-block-end: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--color-neutral-100);
  }

  @media(max-width: 376px) {
    padding-inline: var(--indent-6);
    padding-block-end: var(--indent-8);
  }
}

.close {
  margin-block-start: 50px;
  padding-block: 40px;
  gap: var(--indent-4);
  font-size: var(--font-size-sm);
  text-transform: uppercase;

  @media(max-width: 376px) {
    margin-block-start: var(--indent-5);
    padding-block: var(--indent-3);
  }
}
