.wrapper {
  display: grid;
  row-gap: var(--indent-8);

  @media(max-width: 769px) {
    grid-column: 1/-1;
    grid-template-columns: 280px 148px;
    justify-content: space-between;
    align-items: center;
  }

  @media(max-width: 376px) {
    grid-template-columns: minmax(auto, 220px);
  }
}

.inputs {
  position: relative;
  display: flex;
  inline-size: 100%;
  align-items: center;
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--border-radius-sm);

  & input {
    min-inline-size: 0;
    inline-size: 0;
    flex: 1 1 0;
    text-align: center;
    padding-block: var(--indent-4) var(--indent-3);
    border: none;
    color: var(--color-base-500);
    font-size: var(--font-size-sm);
    font-weight: 500;
    appearance: none;

    &:first-of-type {
      border-right: 1px solid var(--color-neutral-300);
    }
  }

  @media(max-width: 769px) {
    order: 1;
  }

  @media(max-width: 376px) {
    order: 0;
    max-inline-size: 220px;
  }
}

.separator {
  position: absolute;
  left: 50%;
  background-color: var(--color-white);
  color: var(--color-neutral-300);
  transform: translateX(-50%) scaleX(1.33);
}

.wrapper :global(.range-slider) {
  block-size: 3px;
  border-radius: 2px;
  background-color: color-mix(in srgb, var(--color-base-500) 20%, transparent);
}

.wrapper :global(.range-slider .range-slider__thumb) {
  inline-size: 13px;
  block-size: 13px;
  background-color: var(--color-base-500);
}

.wrapper :global(.range-slider .range-slider__range) {
  background-color: var(--color-base-500);
}

.wrapper:has(.error) .inputs {
  border-color: var(--color-error);
}

.error {
  color: var(--color-error);
}
