.counterInputs {
  display: grid;
  grid-template-columns: max-content min-content min-content auto;
  row-gap: var(--indent-6);

  @media(max-width: 1025px) {
    grid-template-columns: 1fr min-content;
  }

  @media(max-width: 376px) {
    row-gap: var(--indent-5);
  }
}

.counterInput {
  display: grid;
  grid-column: 1/-2;
  grid-template-columns: subgrid;
  gap: var(--indent-8);

  @media(max-width: 1025px) {
    grid-column: 1/-1;
    gap: var(--indent-6);
  }

  @media(max-width: 376px) {
    gap: var(--indent-2);
  }
}

.checkbox {
  justify-self: end;

  @media(max-width: 1025px) {
    justify-self: start;
  }

  @media(max-width: 376px) {
    order: 1;
  }
}
