.hero {
  position: relative;
  margin-block: 60px -60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: var(--color-base-400);

  @media(max-width: 769px) {
    margin-block: 30px -30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.bgImage {
  position: absolute;
  left: 0;
  top: -128px;
  z-index: 1;

  @media(max-width: 769px) {
    top: -164px;
  }

  @media(max-width: 376px) {
    top: -245px;
    block-size: 888px;
  }
}

.content {
  position: relative;
  z-index: 2;
}

.slogan {
  margin-block: 90px 110px;
  padding-inline-start: 12px;
  color: var(--color-white);
  font-size: 70px;
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: start;

  @media(max-width: 769px) {
    margin-block-end: 450px;
  }

  @media(max-width: 376px) {
    margin-block-end: 290px;
    font-size: var(--font-size-xxl);
    line-height: 40px;
  }
}

.heroImage {
  position: absolute;
  top: 0;
  z-index: 1;

  @media(max-width: 769px) {
    top: 140px;
    right: 40px;
  }

  @media(max-width: 376px) {
    top: 154px;
    inline-size: 192px;
  }
}

.roadmap {
  display: flex;
  margin-block: 0;
  padding-inline-start: 0;
  padding-block-end: 115px;
  list-style-type: none;

  @media(max-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block-end: 40px;
  }

  @media(max-width: 376px) {
    grid-template-columns: 1fr;
  }
}

.roadmapItem {
  padding-inline: var(--indent-8) 120px;
  padding-block: var(--indent-8);
  border-radius: 20px;
  color: var(--color-base-600);
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: start;
}

.roadmapItem:not(:first-child) {
  margin-inline-start: -30px;
  box-shadow: -4px 0px 10px 0px #00000040;

  @media(max-width: 769px) {
    margin-inline-start: 0;
  }
}

.roadmapItem:first-child {
  background-color: var(--color-primary-500);

  @media(max-width: 769px) {
    border-bottom-left-radius: 0;
  }

  @media(max-width: 376px) {
    border-bottom-right-radius: 0;
  }
}

.roadmapItem:nth-child(2) {
  background-color: var(--color-primary-400);

  @media(max-width: 769px) {
    margin-inline-start: -30px;
    border-bottom-right-radius: 0;
  }

  @media(max-width: 376px) {
    margin-inline-start: 0;
    border-radius: 0;
  }
}

.roadmapItem:nth-child(3) {
  background-color: var(--color-primary-200);

  @media(max-width: 769px) {
    border-top-left-radius: 0;
  }

  @media(max-width: 376px) {
    margin-inline-start: 0;
    border-radius: 0;
  }
}

.roadmapItem:last-child {
  background-color: var(--color-primary-100);

  @media(max-width: 769px) {
    margin-inline-start: -30px;
    border-top-right-radius: 0;
  }

  @media(max-width: 376px) {
    margin-inline-start: 0;
    border-top-left-radius: 0;
  }
}
