.dropdown {
  display: grid;
}

.content {
  display: grid;
  /*grid-template-columns: min-content min-content;*/
  justify-content: space-between;

  @media(max-width: 321px) {
    grid-template-columns: 1fr;
  }
}

.alfabet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, min-content);
  gap: var(--indent-5);
  padding-inline: var(--indent-8);
  text-align: start;

  @media(max-width: 769px) {
    gap: 0;
  }

  @media(max-width: 321px) {
    padding: 0;
  }
}

.letter {
  padding: 0;
  border: none;
  font-size: 60px;
  font-weight: 700;

  @media(max-width: 769px) {
    border-radius: 0;
  }

  @media(max-width: 321px) {
    font-size: 15px;
    line-height: 18px;
  }

  &:hover {
    border-color: var(--color-neutral-400);
  }

  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--color-base-500);
    color: var(--color-white);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-500);
    outline-offset: -2px;
  }
}

.countries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: var(--indent-8);
}

.country {
  min-inline-size: 160px;
  padding: 0;
  border: none;
  color: var(--color-neutral-500);
  font-size: var(--font-size-sm);
  font-weight: 400;
  text-align: start;
}
