.dropdown {
  position: relative;
  display: grid;
}

.content {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;

  @media(max-width: 321px) {
    grid-template-columns: 1fr;
  }
}

.alfabet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, min-content);
  gap: var(--indent-5);
  padding-inline: var(--indent-8);
  text-align: start;

  @media(max-width: 769px) {
    grid-template-columns: repeat(5, min-content);
    gap: var(--indent-4);

  }

  @media(max-width: 321px) {
    gap: 0;
    padding: 0;
  }
}

.letter {
  padding-inline: var(--indent-5);
  padding-block: var(--indent-6);
  font-size: 60px;
  font-weight: 700;

  @media(max-width: 769px) {
    color: var(--color-base-400);
    opacity: 0.3;
  }

  @media(max-width: 321px) {
    border: 1px solid var(--color-neutral-200);
    color: var(--color-base-500);
    font-size: 15px;
    font-weight: 500;
    opacity: 1;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--color-base-500);
      color: var(--color-white);
    }
  }

  &:active,
  &:focus,
  &:focus-visible {
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-500);
    outline-offset: -2px;
  }
}

.countries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: var(--indent-8) 0;

  @media(max-width: 769px) {
    display: none;
  }
}

.country {
  min-inline-size: 160px;
  padding: 0;
  color: var(--color-neutral-500);
  font-size: var(--font-size-sm);
  line-height: 30px;
  font-weight: 400;
  text-align: start;

  @media(max-width: 321px) {
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
  }
}

.countriesByLetter {
  position: relative;
  top: -150px;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-block: var(--indent-8) 0;
  background-color: var(--color-neutral-50);

  @media(max-width: 769px) {
    display: flex;
  }
}

.close {
  margin-block-end: 32px;
  gap: 45px;
  padding-inline: 0;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
}
