.pagination {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
  gap: 12px;
  padding-block: var(--indent-6);
  padding-inline: var(--indent-8);
  border-radius: 20px;
  background-color: var(--color-white);

  @media(max-width: 321px) {
    grid-template-columns: 1fr 1fr;
  }
}

.pages {
  display: flex;
  gap: 8px;

  @media(max-width: 321px) {
    display: none;
  }
}

.pageButton {
  min-inline-size: 50px;
  border: none;
  border-radius: 50%;
  font-size: inherit;
}

.arrow {
  min-inline-size: 50px;
  border: none;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 50px;
  color: var(--color-gray-500);
}
