.stepList {
  margin-block: 0;
  padding-inline-start: 44px;
}

.stepItem {
  color: var(--color-black);
  text-transform: uppercase;
  opacity: 0.6;
}

.stepItem:not(:last-child) {
  margin-block-end: var(--indent-6);
}

.active {
  opacity: 1;
}
